{{> menu active="profile"}}

<section class="section">
  <div class="card p-3">
    <h1 class="title">Update your profile</h1>
    <form action="/update" method="POST">
      {{> user-details}}
      <div class="field is-grouped">
        <button class="button is-link">Submit Changes</button>
      </div>
    </form>
  </div>
</section>
