<form class="box" action="/category//poi" method="POST">
  <p class="title is-4">Enter POI Details</p>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Details</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input" type="text" placeholder="Enter Name" name="name" />
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field is-expanded">
        <p class="control">
          <input class="input" type="text" placeholder="Enter Description" name="description" />
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Location</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="text" placeholder="Latitude (e.g., 53.0)" name="lat" />
        </p>
      </div>
      <div class="field is-narrow">
        <p class="control">
          <input class="input" type="text" placeholder="Longitude (e.g., -8.0)" name="lng" />
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button class="button is-primary">
            <span>Add POI</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
