<nav class="navbar">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if isAdmin}}
          <a id="admin-dashboard" class="button" href="/admin/dashboard"> Admin </a>
          {{/if}}
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="profile" class="button" href="/profile"> Profile </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("{{active}}").classList.add("is-primary");
</script>
